data/cache/
data/hf-home/
data/*.parquet
data/*.jsonl
data/manifest.json
data/ceval/*.jsonl
data/dpo/*.jsonl
data/moss-plugin/*.jsonl
data/moss-sft/*.jsonl
ckpt/
reports/*
!reports/bonus/
reports/bonus/*
!reports/bonus/s1_bonus.json
models/
src/__pycache__/
eval/__pycache__/
eval/result.json
*.pyc
.venv/
